<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some Website</title>
</head>
<body>
   <h1>well be right back</h1>
<p>
    the site is currently being update.
</p>

</body>
</html>